/* =========================
   Burgundy (Primary)
   ========================= */

.primary-100 { background-color: #fffbf2; }
.primary-200 { background-color: #7b062b; }
.primary-300 { background-color: #4a031a; }

/* =========================
   Cream (Secondary)
   ========================= */

.secondary-100 { background-color: #9c744b; }
.secondary-200 { background-color: #291909; }