@import 'tailwindcss';

@theme {
  /* Burgundy (Primary)*/

  --color-primary-100: #fffbf2;
  --color-primary-200: #7b062b;
  --color-primary-300: #4a031a;

  /* Brown (Secondary) */
  --color-secondary-100: #9c744b;
  --color-secondary-200: #291909;

  /* Fonts */
  --font-logo: Chango, cursive; /* For Your Place logo */
  --font-display: Inter, sans-serif; /* Headings */
  --font-sans: Inter, system-ui, sans-serif; /* Body */
}
